<h1>管理者側投稿詳細ページ</h1>
<div class='container'>
  <div class="full-width">
  <div class='row'>
    <div class='col-md-3'>
    </div>
    <div class='col-md-9'>
    <h2>Post Sneaker</h2>
        <table class='table'>
          <tr>
          <td><%= link_to admin_user_path(@sneaker.user) do %>
            <%= image_tag @sneaker.user.get_profile_image, class: "rounded-circle",size:"100x100" %><br>
            <%= @sneaker.user.name %>
            <% end %>
          </td>
           <td width="50%" height="50%">
            <%= link_to admin_sneaker_path(@sneaker), class: "sneaker_#{@sneaker.id}" do %>
            <%= image_tag @sneaker.image, width: '50%', height: '50%' %>
            <% end %>
          </td>
            <td><%= link_to 'Destroy', admin_sneaker_path(@sneaker), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_sneaker_#{@sneaker.id}" %></td>

        </tr>
        <tr>
          <td><%= @sneaker.body %></td>
        </tr>
      </table>
      </div>
    </div>
  </div>
</div>