<table>
  <tbody>
    <% sneaker.sneaker_comments.each do |sneaker_comment| %>
      <tr>
        <td>
          <%= link_to user_path(sneaker_comment.user) do %>
            <%= image_tag sneaker_comment.user.get_profile_image, class: "rounded-circle", size: "100x100" %><br>
            <%= sneaker_comment.user.name %>
          <% end %>
        </td>
        <td><%= sneaker_comment.comment %></td>
        <td>
          <% if sneaker_comment.user == current_user %>
            <%= link_to "Destroy", sneaker_sneaker_comment_path(sneaker, sneaker_comment), method: :delete, remote: true, class: "btn btn-danger pull-right" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>