<table class='table'>
  <thead>
    <tr class="table-outline-secondary">
      <th class="color"><strong>Profile-Image</strong></th>
      <th class="color"><strong>User Name</strong></th>
      <th class="color"><i class="fa-solid fa-handshake-simple"></i>Follow or Unfollow<i class="fa-solid fa-handshake-simple-slash"></i></th>
      <th class="color"><strong>Go to user profile</strong></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr class="table-dark">
        <td><%= image_tag user.get_profile_image, class: "rounded-circle", size: '50x50' %></td>
        <td ><%= user.name %></td>
        <td><%= render "user/relationships/follow_btn", user: user %></td>
        <td><%= link_to 'User_Profile', user, class: "user_#{user.id}", class: "btn btn-info" %></td>
      </tr>
    <% end %>
    <%= paginate users %>
  </tbody>
</table>
