<table class='table'>
  <tr><%= image_tag user.get_profile_image, class: "rounded-circle", size:'100x100' %>
      <% if user.name != "guestuser" %>
      <%= link_to 'プロフィール編集' ,edit_user_path(user), class: "btn btn-outline-secondary btn-block, edit_user_#{user.id}"  %>
    <% end %>
  </tr>
  <tr>
	  <th class="table-secondary">name</th>
	  <th class="table-secondary"><%= user.name %></th>
  </tr>
  <tr>
	  <th class="table-secondary">introduction</th>
	  <th class="table-secondary"><%= user.introduction %></th>
  </tr>
  <tr>
    <th class="table-secondary">follows</th>
    <th class="table-secondary"><%= link_to user.followings.count, user_followings_path(user) %></th>
  </tr>
  <tr>
    <th class="table-secondary">followers</th>
    <th class="table-secondary"><%= link_to user.followers.count, user_followers_path(user) %></th>
  </tr>
</table>
　
<div class='row'>

</div>