<table class='table'>
    <tr>
    <%= image_tag user.get_profile_image, class: "rounded-circle", size:'100x100' %>
    </tr>
    <tr>
  	  <th class="table-secondary">name</th>
  	  <th class="table-secondary"><%= user.name %></th>
    </tr>
    <tr>
  	  <th class="table-secondary">introduction</th>
  	  <th class="table-secondary"><%= user.introduction %></th>
    </tr>
    <tr>
      <th class="table-secondary">follows</th>
      <th class="table-secondary"><%= link_to user.followings.count, user_followings_path(user) %></th>
    </tr>
    <tr>
      <th class="table-secondary">followers</th>
      <th class="table-secondary"><%= link_to user.followers.count, user_followers_path(user) %></th>
    </tr>
</table>
  <tr>
  <%= link_to 'Destroy',  admin_user_path(user.id), data: { confirm: '本当に消しますか？' },  method: :delete, class: "btn btn-danger" %>
  </tr>