
<header>
     <nav class="navbar navbar-expand-lg" style="background-color:#708090;">
          <div class="container-fluid">
          <th><%= link_to  image_tag('Logo4.png', size: '70x70'), root_path, class: 'navbar-brand' %></th>
          <h1 class="text-center mt-0 color display-4" style="font-family: 'Sacramento', cursive;">Sneaker-Pride</h1>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            
            <!--検索窓-->
            <%= render 'user/users/search'%>
        <% if user_signed_in? %>
          <li class="color">
            <%= link_to user_path(current_user.id), class:'nav-link text-light' do %>
              Home
            <% end %>
          </li>
          <li class="color">
            <%= link_to users_path, class:'nav-link text-light' do %>
              Users
            <% end %>
          </li>
          <li class="color">
          <%= link_to sneakers_path, class:'nav-link text-light' do %>
              Sneakers
          <% end %>
          </li>
          <li class="color">
          <%= link_to destroy_user_session_path, method: :delete, class:'nav-link text-light' do %>
              Log out
              <% end %>
          </li>
          
          <!--管理者ログイン-->
           <% elsif admin_signed_in? %>
          <li class="color">
            <%= link_to  admin_root_path, class:'nav-link text-dark' do %>
            Home
            <% end %>
          </li>
          <li class="color">
            <%= link_to admin_users_path, class:'nav-link text-dark' do %>
            Users
            <% end %>
          </li>
           <li class="color">
          <%= link_to admin_sneakers_path, class:'nav-link text-dark' do %>
              Sneakers
          <% end %>
          </li>
          <li class="color">
            <%= link_to destroy_admin_session_path, method: :delete, class:'nav-link text-dark' do %>
             Log out
            <% end %>
          </li>
          
          <!--未ログイン-->
        <% else %>
          <li class="color">
            <%= link_to root_path, class:'nav-link text-light' do %>
             Home
              <% end %>
          </li>
          <li class="color">
             <%= link_to about_path, class:'nav-link text-light' do %>
              About
              <% end %>
          </li>
          <li class="color">
             <%= link_to  new_user_registration_path, class:'nav-link text-light' do %>
              Sign up
              <% end %>
          </li>
          <li class="color">
            <%= link_to  new_user_session_path, class:'nav-link text-light' do %>
              Log in
              <% end %>
          </li>
           <li class="color">
          <%= link_to 'ゲストログイン', users_guest_sign_in_path, class: "btn btn-info", method: :post %>
          </li>
        <% end %>
      </div>
      </div>
    </nav>
</header>