<h2>User info</h2>
    <%= image_tag @sneaker.user.get_profile_image(100,100) %>
        <table class='table'>
            <tbody>
            <tr></tr>
            <tr>
                <th>name</th>
                <th><%= @sneaker.user.name %></th>
            </tr>
            <tr>
                <th>introduction</th>
                <th><%= @sneaker.user.introduction %></th>
            </tr>
            </tbody>
        </table>
            <div class="row">
            <%= link_to edit_user_path(@sneaker), class: "btn btn-outline-secondary btn-block" do %>
              <i class="fas fa-user-cog"></i>
            <% end %>
              
        <%= form_with model: sneaker do |f| %>
        <h2>New Post</h2>
        <h4>Image</h4>
       <%= f.file_field :image, accept: "image/*" %>
        <h4>Explanation</h4>
        <%= f.text_area :body %>
        <nav>
            <%= f.submit 'Post',class:"btn btn-success" %>
        </nav>
        
        <% end %>
        </div>